<!doctype html>
<title>VSD CARROS</title>

<div class=page>
  <h1>VSD CARROS  <font size=1><a href="https://github.com/icecol/earth" target="_blank">sobre</a></font></h1>

  <div class=metanav>
  {% if not session.logged_in %}
    <p>Se já é nosso usuário faça seu <a href="{{ url_for('login') }}">log in</a></p>
  {% else %}
    <p>Seja bem-vindo {{username}}. | <a href="{{ url_for('logout') }}">Log out</a> | <a href="{{ url_for('admin') }}">Novo carro</a></p>
  {% endif %}
  </div>

<div class=flashes>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <i>{{ message }}</i>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

{% block body %}{% endblock %}

</div>
